@media screen and (max-width: 900px) {
    .wrap {
        header {
            .topHeader {
                padding: 0 30px;
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .wrap {
        .screen{
            display: flex;
        }
        header {
            p{
                font-family: 700;
            }
            .topHeader {
                justify-content: center;
                flex-direction: column;
                height: 80px;
                .topHeader__item{
                    margin-top: 10px;
                }
            }
            .middleHeader{
                padding: 0 20px;
                .logo{
                    font-size: 18px;
                    svg{
                        width: 27px;
                        height: 27px;
                    }
                }
                .searchingInputCon{
                    display: none;
                }
            }
            .bottomHeader{
                .bottomHeader_bgEl{
                    padding: 0 20px;
                    height: 50px;
                    .allColections{
                        font-size: 12px;
                        width: 180px;
                        svg{
                            width: 18px;
                            height: 16px;
                        }
                    }
                    ul{
                        display: none;
                    }
                }
            }
        }
        .bannerScreen{
            padding: 0 20px;
            display: flex;
            .collectionsSideBar{
                display: none;
            }
            .banner{
                margin: 0;
                margin-top: 10px;
                width: 100%;
                padding: 15px;
                flex-direction: column;
                .banner_text{
                    .secondaryTitle{
                        font-size: 10px;
                    }
                    .title{
                        font-size: 22px;
                        width: 100%;
                    }
                    .emphasizer{
                        width: 120px;
                        top: 68px;
                        left: 0px;
                    }
                    .saleText{
                        width: 100%;
                        font-size: 16px;
                        margin-top: 16px;
                    }
                    .shopNowBtn{
                        font-size: 16px;
                        margin-top: 20px;
                    }
                }
                .mainChair{
                    width: 250px;
                    margin-left: 80px;
                }
                .circles{
                    left: 130px;
                    top: 418px;
                    width: 70px;
                    .circle{
                        width: 8px;
                        height: 8px;
                    }
                    .wideCircle{
                        width: 18px;
                        height: 6px;
                    }
                }
                .secondaryChairs{
                    height: 200px;
                    top: 220px;
                    left: 10px;
                    .secondaryChair{
                        width: 60px;
                        height: 60px;
                        #chair1{
                            width: 30px;
                        }
                        #chair2{
                            width: 30px;
                        }
                        #chair3{
                            width: 30px;
                        }
                        .price{
                            font-size: 8px;
                        }
                        .name{
                            font-size: 5px;
                            text-align: center;
                        }
                    }
                }
            }
        }
        .advantages{
            padding: 0 20px;
            flex-wrap: wrap;
            margin: 20px 0;
            .advantage{
                width: 150px;
                align-items: center;
                svg{
                    width: 35px;
                    height: 35px;
                }
                .text{
                    .title{
                        font-size: 12px;
                    }
                    .subtitle{
                        font-size: 10px;
                    }
                }
            }
        }
        .pictures{
            padding: 0 20px;
            flex-direction: column;
            .pictures_item{
                width: 100%;
                height: 367px;
                margin-top: 25px;
                img{
                    width: 100%;
                }
            }
            .pictureCon{
                width: 100%;
                .mainPicture{
                    width: 100%;
                }
                .pictureText{
                    top: 25px;
                    left: 20px;
                    .title{
                        font-size: 18px;
                    }
                    .price{
                        font-size: 16px;
                        margin-top: 7px;
                    }
                    .readMore{
                        margin-top: 10px;
                    }
                }
            }
        }
        .trending{
            padding: 0 20px;
            .title{
                font-size: 24px;
            }
            ul{
                width: 100%;
                margin: 15px;
                li{
                    font-size: 14px;
                    text-align: center;
                }
            }
            .goodsCon{
                width: 100%;
                flex-direction: column;
                align-items: center;
            }
        }

    }
}
