body {
  font-family: Rubik;
}

.wrap {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.wrap header .topHeader {
  background-color: #7AC751;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  padding: 0 120px;
}
.wrap header .topHeader a {
  color: #fff;
  border-left: 2px #fff solid;
  padding-left: 20px;
  margin-left: 10px;
}
.wrap header .topHeader select {
  background-color: transparent;
  border: none;
  color: #fff;
}
.wrap header .middleHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 120px;
  margin-top: 22px;
}
.wrap header .middleHeader .logo {
  font-size: 24px;
  font-weight: 500;
  color: #555555;
  display: flex;
  align-items: center;
}
.wrap header .middleHeader .logo svg {
  margin-right: 7px;
}
.wrap header .middleHeader .searchingInputCon {
  width: 582px;
  height: 46px;
  border: 2px #7AC751 solid;
  border-radius: 8px;
  position: relative;
}
.wrap header .middleHeader .searchingInputCon input {
  width: 401px;
  height: 100%;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  font-family: Rubik;
  border-radius: 8px 0 0 8px;
  padding-left: 23px;
  border-right: #E3E3E3 1.5px solid;
  color: #B0B0B0;
}
.wrap header .middleHeader .searchingInputCon select {
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #555555;
}
.wrap header .middleHeader .searchingInputCon .searchBtnCon {
  width: 55px;
  height: 43px;
  background-color: #7AC751;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0 7px 7px 0;
  position: absolute;
  top: 0px;
  right: 0px;
}
.wrap header .middleHeader .iconsCon {
  width: 124px;
  display: flex;
  justify-content: space-between;
}
.wrap header .middleHeader .iconsCon svg {
  cursor: pointer;
}
.wrap header .middleHeader .iconsCon .cartCon {
  position: relative;
}
.wrap header .middleHeader .iconsCon .cartCon .itemsAmount {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7AC751;
  color: #fff;
  font-size: 7px;
  font-weight: 400;
  position: absolute;
  top: -3px;
  right: -2px;
}
.wrap header .bottomHeader {
  width: 100%;
  font-family: Rubik;
}
.wrap header .bottomHeader .bottomHeader_bgEl {
  width: 100%;
  background-color: #F7F8FA;
  height: 67px;
  margin-top: 25px;
  text-transform: uppercase;
  padding: 0 120px;
  display: flex;
  align-items: center;
}
.wrap header .bottomHeader .bottomHeader_bgEl .allColections {
  background-color: #7AC751;
  width: 260px;
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
}
.wrap header .bottomHeader .bottomHeader_bgEl .allColections svg {
  margin-right: 10px;
}
.wrap header .bottomHeader .bottomHeader_bgEl ul {
  margin-left: 82px;
  width: 506px;
  display: flex;
  justify-content: space-between;
  color: #555555;
  font-size: 14px;
  font-weight: 400;
}
.wrap header .bottomHeader .bottomHeader_bgEl ul li {
  cursor: pointer;
}
.wrap .screen {
  width: 100%;
  padding: 0 120px;
}
.wrap .bannerScreen {
  display: flex;
}
.wrap .bannerScreen .collectionsSideBar {
  width: 260px;
  height: 454px;
  display: flex;
  flex-direction: column;
}
.wrap .bannerScreen .collectionsSideBar .sideBarOption {
  background-color: #F7F8FA;
  width: 100%;
  height: 41px;
  display: flex;
  align-items: center;
  border-bottom: #E3E3E3 0.8px solid;
  padding: 0 29px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  font-weight: Rubik;
  color: #555555;
  transition: 0.2s ease-in-out;
}
.wrap .bannerScreen .collectionsSideBar .sideBarOption:hover {
  background-color: #757575;
  color: #E3E3E3;
}
.wrap .bannerScreen .banner {
  width: 1055px;
  height: 442px;
  margin: 11px 0 0 11px;
  background: linear-gradient(to bottom right, #F1FAFF, #F1FAFF);
  padding: 50px;
  font-family: Rubik;
  display: flex;
  position: relative;
}
.wrap .bannerScreen .banner .banner_text {
  position: relative;
}
.wrap .bannerScreen .banner .banner_text .secondaryTitle {
  text-transform: uppercase;
  color: #7AC751;
  font-size: 22px;
  font-weight: 400;
}
.wrap .bannerScreen .banner .banner_text .title {
  color: #2F2F2F;
  font-size: 40px;
  font-weight: 500;
  margin-top: 6px;
}
.wrap .bannerScreen .banner .banner_text .emphasizer {
  width: 191px;
  position: absolute;
  top: 120px;
  left: 134px;
}
.wrap .bannerScreen .banner .banner_text .saleText {
  font-size: 27px;
  font-weight: 600;
  font-family: Mulish;
  color: rgba(81, 81, 81, 0.71);
  margin-top: 26px;
}
.wrap .bannerScreen .banner .banner_text .shopNowBtn {
  width: 129px;
  height: 40px;
  border-radius: 5px;
  background-color: #7AC751;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  font-family: Mulish;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-top: 35px;
  transition: 0.2s ease-in-out;
}
.wrap .bannerScreen .banner .banner_text .shopNowBtn:hover {
  background-color: #6aad46;
}
.wrap .bannerScreen .banner .mainChair {
  width: 374px;
  margin-left: 70px;
}
.wrap .bannerScreen .banner .secondaryChairs {
  width: 98px;
  height: 323px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  right: 50px;
}
.wrap .bannerScreen .banner .secondaryChairs .secondaryChair {
  width: 97px;
  height: 91px;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
}
.wrap .bannerScreen .banner .secondaryChairs .secondaryChair #chair1 {
  width: 49px;
}
.wrap .bannerScreen .banner .secondaryChairs .secondaryChair #chair2 {
  width: 79px;
}
.wrap .bannerScreen .banner .secondaryChairs .secondaryChair #chair3 {
  width: 51px;
}
.wrap .bannerScreen .banner .secondaryChairs .secondaryChair .price {
  color: #7AC751;
  font-size: 11px;
  font-weight: 500;
}
.wrap .bannerScreen .banner .secondaryChairs .secondaryChair .name {
  color: #555555;
  font-size: 7px;
  font-weight: 500;
}
.wrap .bannerScreen .banner .circles {
  width: 105px;
  height: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 20px;
  left: 470px;
}
.wrap .bannerScreen .banner .circles .circle {
  width: 12px;
  height: 12px;
  background-color: rgba(122, 199, 81, 0.29);
  border-radius: 50%;
}
.wrap .bannerScreen .banner .circles .wideCircle {
  width: 24px;
  height: 9px;
  background-color: #7AC751;
  border-radius: 666px;
}/*# sourceMappingURL=style.css.map */