$green: #7AC751;
$gray: #555555;

body{
    font-family: Rubik;
}
.wrap {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    .topHeader {
        background-color: $green;
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 50px;
        align-items: center;
        padding: 0 120px;
        a{
            color: #fff;
            border-left: 2px #fff solid;
            padding-left: 20px;
            margin-left: 10px;
        }
        select{
            background-color: transparent;
            border: none;
            color: #fff;
        }
    }
    .middleHeader{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 120px;
        margin-top: 22px;
        .logo{
            font-size: 24px;
            font-weight: 500;
            color: $gray;
            display: flex;
            align-items: center;
            svg{
                margin-right: 7px;
            }
        }
        .searchingInputCon{
            width: 582px;
            height: 46px;
            border: 2px $green solid;
            border-radius: 8px;
        }
        .iconsCon{
            width: 124px;
            display: flex;
            justify-content: space-between;
            .cartCon{
                position: relative;
                .itemsAmount{
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $green;
                    color: #fff;
                    font-size: 7px;
                    font-weight: 400;
                    position: absolute;
                    top: -3px;
                    right: -2px;
                }
            }
        }
    }
}
